<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Create Profile Page</title>
    <link rel="stylesheet" href="/static/createprofile_style.css"/>
    <script language="JavaScript">
      function showInput() {
          document.getElementById('display').innerHTML =
                      document.getElementById("user_input").value;
      }
    </script>
  </head>

  <body>
    

    <br><br>

    <div id = "CreateProfileStyles">
      <h2>Create Profile Page</h2>
      <form method="post" action="">
        <h3> First Name: <input type="text" name="first_name"</h3>
        <h3> Last Name: <input type="text" name="last_name"</h3>
        <h3> About you: <input type="text" name="about_you"</h3>
        <h3> Favorite Hobby: <input type="text" name="favorite_hobby"</h3>
        <h2> Social Media Accounts</h2>
        <h3> Instagram: <input type="text" name="instagram_account"</h3>
        <h3> Facebook: <input type="text" name="facebook_account"</h3>
        <h3> Snapchat: <input type="text" name="snapchat_account"</h3>
        <h3> Phone Number: <input type="text" name="phone_number"</h3>
        <br>
        <br>
        <input type="checkbox" name="hobbyArt" value="Art">Art<br>
        <input type="checkbox" name="hobbyBaseball" value="Baseball">Baseball<br>
        <input type="checkbox" name="hobbyBasketball" value="Basketball">Basketball<br>
        <input type="checkbox" name="hobbyBiking" value="Biking">Biking<br>
        <input type="checkbox" name="hobbyBowling" value="Bowling">Bowling<br>
        <input type="checkbox" name="hobbyChess" value="Chess">Chess<br>
        <input type="checkbox" name="hobbyEating" value="Eating">Eating<br>
        <input type="checkbox" name="hobbyFishing" value="Fishing">Fishing<br>
        <input type="checkbox" name="hobbyFootball" value="Football">Football<br>
        <input type="checkbox" name="hobbyGolf" value="Golf">Golf<br>
        <input type="checkbox" name="hobbyGoKartRacing" value="Go Kart Racing">Go Kart Racing<br>
        <input type="checkbox" name="hobbyHiking" value="Hiking">Hiking<br>
        <input type="checkbox" name="hobbyMountainBiking" value="Mountain Biking">Mountain Biking<br>
        <input type="checkbox" name="hobbyPhotography" value="Photography">Photography<br>
        <input type="checkbox" name="hobbyRacingPigeons" value="Racing Pigeons">Racing Pigeons<br>
        <input type="checkbox" name="hobbyRockClimbing" value="Rock Climbing">Rock Climbing<br>
        <input type="checkbox" name="hobbyShopping" value="Shopping">Shopping<br>
        <input type="checkbox" name="hobbySkateboarding" value="Skateboarding">Skateboarding<br>
        <input type="checkbox" name="hobbySnowboarding" value="Snowboarding">Snowboarding<br>
        <input type="checkbox" name="hobbySoccer" value="Soccer">Soccer<br>
        <input type="checkbox" name="hobbySurfing" value="Surfing">Surfing<br>
        <input type="checkbox" name="hobbyTennis" value="Tennis">Tennis<br>
        <input type="checkbox" name="hobbyVideoGames" value="Video Games">Video Games<br>
        <input type="checkbox" name="hobbyVolleyball" value="Volleyball">Volleyball<br>
        <input type="checkbox" name="hobbyYoga" value="Yoga">Yoga<br>
        <p>
          <input type = "submit" value= "Submit" />
        </p>
      </form>
    </div>
    <br><br><br>
  </body>

</html>


<!--
hobbyArt
hobbyBaseball
hobbyBasketball
hobbyBiking
hobbyBowling
hobbyChess
hobbyEating
hobbyFishing
hobbyFootball
hobbyGolf
hobbyGoKartRacing
hobbyHiking
hobbyMountainBiking
hobbyPhotography
hobbyRacingPigeons
hobbyRockClimbing
hobbyShopping
hobbySkateboarding
hobbySnowboarding
hobbySoccer
hobbySurfing
hobbyTennis
hobbyVideoGames
hobbyVolleyball
hobbyYoga
!-->
