<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
    <link rel="stylesheet" href="static/index_style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nova+Slim" rel="stylesheet">
  </head>
  <body>

    <div id="landing-banner">
      <div class="left-logo">
      <p>FRiENDER</p>
    </div>

    <div class="middle">
      <h1> The website that matches you with <br> others sharing the same hobby. </h1>
      {{ theGreeting }}
      <p> </p><br>
      <p> </p>
    </div>

    </div>
  </body>
</html>
